.version.tabele /* version checker */
{
	color: #00001E;
	background-color: #CB319E;
}

.html
{
	background-color: #1D1D1D;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u450-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu451-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 406px;
	margin-left: 299px;
}

#u451-3
{
	z-index: 6;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 395px;
}

#u452-4
{
	z-index: 9;
	width: 442px;
	min-height: 127px;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: jura, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 51px;
}

#u453
{
	z-index: 13;
	width: 375px;
	height: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #18CE90;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	-khtml-border-radius: 33px;
	border-radius: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u454-3
{
	z-index: 14;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 875px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

