.version.index /* version checker */
{
	color: #000000;
	background-color: #13FD14;
}

.html
{
	background: #1B1A19 url("../images/gradient%20bg5.jpg") repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 727px;
	min-height: 410.73651685074447px;
	margin-left: auto;
	margin-right: auto;
	padding: 27px 118px 62.263483149255535px 115px;
}

#u500
{
	z-index: 12;
	width: 367px;
	margin-left: 181px;
	position: relative;
}

#pu105-3
{
	width: 0.01px;
	margin-top: 22px;
}

#u105-3
{
	z-index: 2;
	width: 7px;
	min-height: 24px;
	-webkit-transform: matrix(0.6157,0.788,-0.788,0.6157,11,2);
	-ms-transform: matrix(0.6157,0.788,-0.788,0.6157,11,2);
	-o-transform: matrix(0.6157,0.788,-0.788,0.6157,11,2);
	transform: matrix(0.6157,0.788,-0.788,0.6157,11,2);
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 542px;
}

#u329
{
	z-index: 5;
	width: 180px;
	height: 185px;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 422px;
	background: transparent url("../images/ball%20v-u329-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u329:hover
{
	margin: 78px -10000px 0px 0px;
	background: transparent url("../images/ball%20v-u329-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u341
{
	z-index: 6;
	width: 115px;
	height: 118px;
	position: relative;
	margin-right: -10000px;
	left: 556px;
	background: transparent url("../images/ball%20b-u341-fr.png") no-repeat left top;
	background-size: contain
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u341:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/ball%20b-u341-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u352
{
	z-index: 7;
	width: 161px;
	height: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 263px;
	background: transparent url("../images/ball%20g-u352-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u352:hover
{
	margin: 110px -10000px 0px 0px;
	background: transparent url("../images/ball%20g-u352-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u364
{
	z-index: 8;
	width: 189px;
	height: 194px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 108px;
	background: transparent url("../images/ball%20y-u364-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u364:hover
{
	margin: 200px -10000px 0px 0px;
	background: transparent url("../images/ball%20y-u364-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u376
{
	z-index: 9;
	width: 131px;
	height: 135px;
	position: relative;
	margin-right: -10000px;
	margin-top: 305px;
	left: 279px;
	background: transparent url("../images/ball%20r-u376-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u376:hover
{
	margin: 305px -10000px 0px 0px;
	background: transparent url("../images/ball%20r-u376-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u388
{
	z-index: 10;
	width: 157px;
	height: 161px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 569px;
	background: transparent url("../images/ball%20a-u388-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u388:hover
{
	margin: 191px -10000px 0px 0px;
	background: transparent url("../images/ball%20a-u388-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u460
{
	z-index: 11;
	width: 217px;
	height: 222px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	background: transparent url("../images/ball%20o-u460-fr.png") no-repeat left top;
	background-size: contain;
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

#u460:hover
{
	margin: 7px -10000px 0px 0px;
	background: transparent url("../images/ball%20o-u460-r-fr.png") no-repeat left top;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

